@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="hero inner-page" style="background-image: url('/images/hero_1_a.jpg');">

    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1><strong>About</strong></h1>
                    <div class="custom-breadcrumbs"><a href="index.html">Home</a> <span class="mx-2">/</span> <strong>About</strong></div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <img src="/images/about.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-lg-4 mr-auto">
                <h2>Our Company</h2>
                <p>At the core of our business is a deep commitment to customer satisfaction. We understand that renting a car is an integral part of many individuals' and businesses' travel plans, and we strive to make the process as seamless and stress-free as possible. Our team of experienced professionals is dedicated to providing personalized attention and exceptional service, ensuring that each customer's experience with CarRental is truly exceptional.</p>
            </div>
        </div>
    </div>
</div>