@model CarAvailableDates

<div class="hero inner-page" style="background-image: url('/images/hero_1_a.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-5">
                <div class="intro">
                    <h1><strong>Available dates</strong></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading"><strong>@Model.Brand @Model.Model @Model.Year:</strong></h2>
                <!-- Calendar -->
                <input type="text" id="date-picker" placeholder="Select Date Range" readonly>
            </div>
        </div>
    </div>
</div>

<div class="container text-right mt-3">
    <button onclick="window.history.back();" class="btn btn-primary">Go Back</button>
</div>

